@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe');

html, body {
    font-family: 'ZCOOL KuaiLe', cursive;
    margin: 0;
    border: 0;
    font-size: 100%;
    background-color: #000000;
    color: #ffffff;
  }